<div class='user-content-wrapper'>
  <section class="user-primary-navigation">

    {{#mobile-nav class='main-nav' desktopClass="nav nav-pills user-nav"}}

      <!--      <li>-->
      <!--        <a href="/postes">ES投稿-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a href="/showes">ES閲覧-->
      <!--        </a>-->
      <!--      </li>-->

      <li class="post_experiences"><LinkTo @route='postes'>ES投稿</LinkTo></li>
      <li class="show_experiences"><LinkTo @route='showes'>ES閲覧</LinkTo></li>

    {{/mobile-nav}}
  </section>
  <div class="side-bar">

  </div>
</div>
