<div class='user-content-wrapper'>
  <section class="user-primary-navigation">

    {{#mobile-nav class='main-nav' desktopClass="nav nav-pills user-nav"}}

      <!--      <li>-->
      <!--        <a href="/postes">ES投稿-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a href="/showes">ES閲覧-->
      <!--        </a>-->
      <!--      </li>-->

      <li class="post_experiences">{{#link-to 'postes'}}ES投稿{{/link-to}}</li>
      <li class="show_experiences">{{#link-to 'showes'}}ES閲覧{{/link-to}}</li>

    {{/mobile-nav}}
  </section>
  <div class="side-bar">

  </div>
</div>
