<section class="user-primary-navigation">

  {{#mobile-nav class='main-nav' desktopClass="nav nav-pills user-nav"}}

<!--          <li>-->
<!--            <a href="/postes">ES投稿-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="/showes">ES閲覧-->
<!--            </a>-->
<!--          </li>-->

    <li class="postes">{{#link-to 'postes'}}ES投稿{{/link-to}}</li>
    <li class="showes">{{#link-to 'showes'}}ES閲覧{{/link-to}}</li>

  {{/mobile-nav}}
</section>
